In [1]:
#importing libraries
import pandas as pd
import numpy as np
import requests

#### 1c Develop a data ingestion pipeline that handles data from different file formats (CSV, JSON, etc.) and performs data validation and cleansing.

In [2]:
def data_ingestion():  
    """Performs data ingestion of csv or json or parquet data url"""
    url=input("Please enter valid url of data: ")
    response = requests.get(url)
    if response.status_code!=200:
        return "Please enter valid url of data!!"
    else:
        print("Url is valid.")
    data_format=url.split(".")[-1]
    if data_format=='json':
        return pd.read_json(url)
    elif data_format=='csv':
        return pd.read_csv(url)
    elif data_format=='parquet':
        return pd.read_parquet(url)
    else:
        return 'Please enter data format in csv, json or parquet!!'

In [3]:
def data_validation(dataframe):
    """Performs data validation on given pandas dataframe"""
    col_valid_status=True
    col_list=['customerID','gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges']
    for i in range(len(col_list)):
        if col_list[i] not in dataframe.columns:
            col_valid_status=False
            print(f'{i} Column not present in dataset!!! Data Validation failed.!')
            return False
    print('Input Columns Validation successful!')
    target_valid_status=True        
    target_col='Churn'
    if target_col not in dataframe.columns:
        target_valid_status=False
        print('Target Column not present in dataset!!! Data Validation failed.!!')
        return False
    print('Target Columns Validation successful!!')
    tar_domain_status=True
    if sorted(dataframe[target_col].unique())!=['No', 'Yes']:
        tar_domain_status=False
        print('Target Column do not have valid domain values!!! Data Validation failed.!!!')
        return False
    print('Data Validation succesful!!!')
    return col_valid_status and target_valid_status and tar_domain_status

In [4]:
def data_cleansing(dataframe):
    """ Performs data cleansing on given pandas dataframe"""
    #null deleting from a col
    dataframe['TotalCharges'].replace(' ', np.nan, inplace=True)
    print('Null values in TotalCharges column deleted.')
    dataframe['TotalCharges']=dataframe['TotalCharges'].astype('float')
    #deleting extra column
    dataframe.drop("customerID",axis=1,inplace=True)
    print('customerID column deleted.')
     
    #deleting duplicates
    num_duplicates=dataframe.duplicated().sum()  
    if num_duplicates!=0:
        dataframe = dataframe.drop_duplicates()
        dataframe = dataframe.reset_index(drop=True)
        print(f'Number of duplicate rows deleted: {num_duplicates}.')
    else:
        print('No duplicate rows present.')
    print("Data Cleansing completed")
    return dataframe

#### csv data

In [5]:
df_csv=data_ingestion()

Please enter valid url of data: https://raw.githubusercontent.com/d1b2/DSA_practice/main/assign_4/data_formats/data.csv
Url is valid.

In [6]:
data_validation(df_csv)

Input Columns Validation successful!
Target Columns Validation successful!!
Data Validation succesful!!!

True

In [7]:
df_csv = data_cleansing(df_csv)

Null values in TotalCharges column deleted.
customerID column deleted.
Number of duplicate rows deleted: 22.
Data Cleansing completed

In [8]:
df_csv.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

#### json data

In [9]:
df_json=data_ingestion()

Please enter valid url of data: https://raw.githubusercontent.com/d1b2/DSA_practice/main/assign_4/data_formats/data.json
Url is valid.

In [10]:
data_validation(df_json)

Input Columns Validation successful!
Target Columns Validation successful!!
Data Validation succesful!!!

True

In [11]:
df_json = data_cleansing(df_json)

Null values in TotalCharges column deleted.
customerID column deleted.
Number of duplicate rows deleted: 22.
Data Cleansing completed

In [12]:
df_json.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

#### parquet data

In [13]:
df_parq=data_ingestion()

Please enter valid url of data: https://raw.githubusercontent.com/d1b2/DSA_practice/main/assign_4/data_formats/data.parquet
Url is valid.

In [14]:
data_validation(df_parq)

Input Columns Validation successful!
Target Columns Validation successful!!
Data Validation succesful!!!

True

In [15]:
df_parq = data_cleansing(df_parq)

Null values in TotalCharges column deleted.
customerID column deleted.
Number of duplicate rows deleted: 22.
Data Cleansing completed

In [16]:
df_parq.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes